@media screen and (max-width: 1024px)
{
     .clientsection{
          margin-top: 400px !important;
     }
    
    }


/* ---------------------------------------------
		MEDIAQUERIES 992 PX
--------------------------------------------- */
 @media screen and (max-width: 992px)
 {
     
      .heading-section{
         background: lightyellow !important;
     }
 


    .clientsection{
         margin-top: 600px !important;
     }


     .clientsection{
         flex-wrap: wrap;
     img{
         margin: 20px auto !important;
    }
    }



 
   .heading-section{
   .heading-img img{
      margin-top: 30px !important;
   }
   }


 	///headingsectino
 
 	.category-wrapper{
  		 flex-wrap: wrap;
 	.category-box{
 		width: 45% !important;
 		margin: 15px auto !important;
 	}
 	}
 	////category-wrapper

 }



 /* ---------------------------------------------
		MEDIAQUERIES 768 PX
--------------------------------------------- */
 @media screen and (max-width: 768px)
 {
    .contact-section{
          width: 100%;
    }
    .notifysearch{
         width: 100% !important;
    }
 	 .top-search{
 	 	width: 100% !important;
 	 	flex-wrap: wrap;
 	 }
 }












 /* ---------------------------------------------
		MEDIAQUERIES 576 PX
--------------------------------------------- */
 @media screen and (max-width: 576px)
 {
      
    .banner-counter{
          flex-direction: column;
          line-height: 40px;
    }
   
	.category-wrapper{
  		 flex-wrap: wrap;
 	.category-box{
 		width: 96% !important;
 	}
 	}
 }


 @media screen and (max-width: 450px)
 {
    
    
 }