

.sideoverlay{
	 background: black;
	 background-color: rgba(0,0,0,0.5);
 	 width: 100%;
	 position: fixed;
	 height: 100vh;
	 z-index: 9999;
	 display: none;
	 left: -100%;

.sm-sidebar{
	 background: orange;
	 width: 40vw;
	 height: 100vh;
	 position: fixed;
} 
}

 